@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

body {
    background-color: whitesmoke;
}

.fixed-header-sec {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.fixed-header {
    /* background-color: rgb(46, 46, 53); */
    padding: .5rem;
}

.categories-sec {
    /* background-color: rgb(46, 46, 53); */
    padding: .5rem;
    height: auto;
}

/* .products-sec {
    padding-top: calc();
} */

.all-container {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;

    /* padding: 10px; */
}


.all-container::-webkit-scrollbar {
    height: 0;
}

/* .all-container::-webkit-scrollbar-track {
    background: #fff;
}

.all-container::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 2rem;
} */

/* .filter-btns {
   
} */

.logo {
    font-family: 'Homemade Apple', cursive;
    padding-left: 1rem;
    /* font-style: italic; */
    /* font-size: 2.5rem; */
}

select {
    width: 150px; 
    margin-left: 0.3rem; 
    outline: none;
    padding-left: .3rem;
}

.checkout-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0px;
    box-shadow: 0px 10px 10px #000000a7;
    /* background-color: rgb(33, 33, 38); */
    z-index: 20;
    transition: 0.3s;
    overflow-y: scroll;
}

.menu-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0px;
    background-color: rgb(33, 33, 38);
    z-index: 20;
}

.cart-display {
    position: relative;
}

.cart-number {
    position: absolute;
    background-color: rgb(204, 15, 15);
    height: 23px;
    width: 23px;
    padding: .4rem;
    border-radius: 50%;
    top: -9px;
    right: -15px;
}

.addItemBtn , .minusItemBtn {
    background: none;
    border: none;
    outline: none;
}

.quantity-display {
    background-color: #fff;
    border: 1px solid #000;
    height: 30px;
    width: 40px;
    padding: .3rem;
}

.checkout-sec {
    position:sticky;
    top: 100%;
    width: 100%;
    padding: .5rem;
    z-index: 20;

}
.trash{
    cursor: default;
}

.active-link {
    /* border-bottom: 2px solid #007bff; */
    /* text-decoration: underline #007bff; */
    color: #007bff;
}

.cart-images img {
    width: 100px;
}

.product img {
    width: 155px;
    display: block;
    margin: 0 auto;
}


@media  screen and (max-width: 768px) {
    .header-menu .menu {
        display: none;
    }
    
}

@media screen and (max-width: 575px) {
    .checkout-sidebar .cart-labels {
        display: none;
    }
}
